body {
  margin: 0px;
}
.p-button  {
  background-color: #f94343 ;
  border: 1px solid #eca1a1;
}

.p-button:hover  {
  background-color: #f75252 !important;
  border: 1px solid #940808 !important;
}
.p-toolbar {
  background: #f94343;
  padding: 0.1rem;
}

.p-margin-formularios {
  margin : 5% 5% 5% 5%;
}

.btn-link {
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: none;
  background-color: #7191a1 !important;
  border: 1px solid #5b7481 !important;
}